body { font: 12px Arial;}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.part {
    width: 100vw;
    height: 80vh;
}

#part1 {
    background-color: AliceBlue;
    position: relative;
}

#part1-left {
    width:49%;
    float:left;
    height:100%;
}

#part1-right {
    width:49%;
    float:right;
    height:100%;
}

#part2 {
    text-align: center;
    position: relative;
}

#part2-left {
    width:49%;
    float:left;
    height:100%;
}

#part2-right {
    width:49%;
    float:right;
    height:100%;
}

#part3 {
    background-color: LightGreen;
}

#part3-chart {
    width: 60%;
    height: 80%;
    float:left;
}

/* Pie Chart */
path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
.labelValue {
	font-size: 60%;
	opacity: .5;
}

text {
  font: 12px sans-serif;
}
